<div class="box has-background-light">
    <form class="form" action="/dashboard/addstation" method="POST">
        <div class="columns">
            <div class="field column">
                <label class="label">Add New Station</label>
                <div class="control">
                    <input class="input" placeholder="Enter Name" type="text" name="name">
                </div>
            </div>
            <div class="field column m-auto">
                <div class="control">
                    <button class="button is-primary is-large">
                        Create New Station
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>