<div class="columns reading">
    <div class="column is-flex">
        <div class="card dark-green pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                ${_station.name}
            </div>
            <div class="columns">
                <div class="column reading is-full has-text-centered">
                    LAT: ${_station.latitude}<br/>
                    LONG: ${_station.longitude}
                </div>
            </div>
            <div class="columns is-flex is-justify-content-center">
                <div class="column is-half">
                    <img src="/public/images/svg/compass.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="column is-flex">
        <div class="card dark-green pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Weather Code
            </div>
            <div class="columns">
                <div class="column reading is-size-6-desktop">
                    ${_station.currentWeatherCode()}
                </div>
                <div class="column">
                    <img src="/public/images/svg/${_station.currentWeatherCodeIcon()}.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="column is-flex">
        <div class="card dark-green pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Temperature
            </div>
            <div class="columns">
                <div class="column reading is-size-6-desktop">
                    ${_station.readings.temperature.last()} C
                    <br/>
                    ${_station.celsiusToFahrenheit()} F
                    <br/>
                    Min: ${_station.getMinTemp()}
                    <br/>
                    Max: ${_station.getMaxTemp()}
                </div>
                <div class="column">
                    <img src="/public/images/svg/thermometer.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="column is-flex">
        <div class="card dark-green has-text-centered pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Windspeed
            </div>
            <div class="columns">
                <div class="column reading is-size-6-desktop">
                    ${_station.kmHrToBeaufortScale()} bft <br/>
                    <span class="suppliment-text">(${_station.beaufortLabel()})</span>
                </div>
                <div class="column">
                    <img src="/public/images/svg/wind-beaufort-${_station.kmHrToBeaufortScale()}.svg">
                </div>
            </div>
            ${_station.windCompassDirection()} <br/>
            Feels Like: ${_station.windChill()}
        </div>
    </div>
    <div class="column is-flex">
        <div class="card dark-green pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Pressure
            </div>
            <div class="columns">
                <div class="column reading is-size-6-desktop">
                    ${_station.currentPressure()} hpa
                </div>
                <div class="column">
                    <img src="/public/images/svg/barometer.svg">
                </div>
            </div>
        </div>
    </div>
</div>