<table class="table mt-6">
    <thead>
    <tr>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
        <td>
            ${reading.getCode()}
        </td>
        <td>
            ${reading.getTemperature()}
        </td>
        <td>
            ${reading.getWindSpeed()}
        </td>
        <td>
            ${reading.getWindDirection()}
        </td>
        <td>
            ${reading.getPressure()}
        </td>
    </tr>
    #{/list}
    </tbody>
</table>
