# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
Template_*
.settings
documentation
tmp
.classpath
.project
.idea
*.iml
*.ipr
*.iws