<div class="column is-half">
  <div class="columns is-mobile">
    <div class="column is-one-fifths">
      <img src="/public/images/svg/barometer.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/celsius.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/clear-day.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/cloudy.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/drizzle.svg">
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column is-one-fifths">
      <img src="/public/images/svg/dust.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/extreme-fog.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/extreme-hail.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/extreme-rain.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/fog.svg">
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column is-one-fifths">
      <img src="/public/images/svg/moon-full.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/moonrise.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/wind.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/uv-index.svg">
    </div>
    <div class="column is-one-fifths">
      <img src="/public/images/svg/wind-snow.svg">
    </div>
  </div>
</div>