<!--Latest readings start-->
<div class="columns reading">
    <!--Station location details start-->
    <div class="column is-flex">
        <div class="card dark-green pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Location
            </div>
            <div class="columns is-mobile">
                <div class="column reading has-text-centered is-half-mobile has-text-right">
                    Latitude: ${_station.latitude}<br/>
                    Longitude: ${_station.longitude}
                </div>
                <div class="column is-half-mobile is-two-fifths">
                    <img src="/public/images/svg/compass.svg">
                </div>
            </div>
        </div>
    </div>
    <!--Station location details end-->
    <!--Station Weather code start-->
    <div class="column is-flex">
        <div class="card dark-green pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Weather Code
            </div>
            #{if _station.readings.size() > 0}
            <!--Readings Weather code start-->
            <div class="columns is-mobile">
                <div class="column reading is-size-6-desktop is-half-mobile">
                    ${_station.currentWeatherCode()}
                </div>
                <div class="column is-half-mobile">
                    <img src="/public/images/svg/${_station.currentWeatherCodeIcon()}.svg">
                </div>
            </div>
            <!--Readings Weather code start-->
            #{/if}
            #{else}
            <!--No readings start-->
            <div class="columns is-centered is-mobile mt-3">
                <div class="column reading is-9-desktop is-9-mobile has-text-centered-mobile flip-colour has-text-centered">
                    <span class="icon-text">
                        <span class="icon"><i class="fa-solid fa-diamond-exclamation"></i></span>
                        <span>No Readings</span>
                     </span>
                </div>
            </div>
            <!--No readings end-->
            #{/else}
        </div>
    </div>
    <!--Station Weather code end-->
    <!--Station Temperature start-->
    <div class="column is-flex">
        <div class="card dark-green has-text-right pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Temperature
            </div>
            #{if _station.readings.size() > 0}
            <!--Readings Temperature start-->
            <div class="columns is-mobile">
                <div class="column reading is-size-6-desktop is-half-mobile">
                    ${_station.readings.temperature.last()} C
                    <br/>
                    ${_station.celsiusToFahrenheit()} F
                </div>
                <div class="column is-half-mobile">
                    <img src="/public/images/svg/thermometer.svg">
                </div>
            </div>
            <div class="columns is-centered is-mobile">
                #{if _station.readings.size() >= 2}
                <div class="column reading is-9-desktop is-9-mobile has-text-centered-mobile flip-colour">
                    Min: ${_station.getMinTemp()} <i class="fa-regular fa-temperature-arrow-down"></i><br/>
                    Max: ${_station.getMaxTemp()} <i class="fa-regular fa-temperature-arrow-up"></i><br/>
                    #{if _station.readings.size() >= 3}
                    ${_station.tempTrendText()} <i class="fa-solid ${_station.tempTrend()}"></i>
                    #{/if}
                </div>
                #{/if}
            </div>
            <!--Readings Temperature end-->
            #{/if}
            #{else}
            <!--No readings start-->
            <div class="columns is-centered is-mobile mt-3">
                <div class="column reading is-9-desktop is-9-mobile has-text-centered-mobile flip-colour has-text-centered">
                    <span class="icon-text">
                        <span class="icon"><i class="fa-solid fa-diamond-exclamation"></i></span>
                        <span>No Readings</span>
                     </span>
                </div>
            </div>
            <!--No readings end-->
            #{/else}
        </div>
    </div>
    <!--Station Temperature end-->
    <!--Station Windspeed start-->
    <div class="column is-flex">
        <div class="card dark-green has-text-right pb-3">
            <div class="card-header-title is-centered is-size-5-desktop is-size-6-touch">
                Windspeed
            </div>
            #{if _station.readings.size() > 0}
            <!--Readings Windspeed start-->
            <div class="columns is-mobile">
                <div class="column reading is-size-6-desktop is-half-mobile">
                    ${_station.kmHrToBeaufortScale()} bft <br/>
                    <span class="suppliment-text">(${_station.beaufortLabel()})</span>
                </div>
                <div class="column is-half-mobile">
                    <img src="/public/images/svg/wind-beaufort-${_station.kmHrToBeaufortScale()}.svg">
                </div>
            </div>
            <div class="columns is-centered is-mobile">
                <div class="column reading is-9-desktop is-9-mobile has-text-centered-mobile flip-colour">
                    ${_station.windCompassDirection()} <i class="fa-regular fa-windsock"></i><br/>
                    Feels Like: ${_station.windChill()} <i class="fa-sharp fa-regular fa-snow-blowing"></i><br/>
                    #{if _station.readings.size() >= 2}
                    Min: ${_station.getMinWind()} <i class="fa-solid fa-wind"></i><br/>
                    Max: ${_station.getMaxWind()} <i class="fa-sharp fa-solid fa-tornado"></i><br/>
                    #{/if}
                    #{if _station.readings.size() >= 3}
                    ${_station.windTrendText()} <i class="fa-solid ${_station.windTrend()}"></i>
                    #{/if}
                </div>
            </div>
            <!--Readings Windspeed end-->
            #{/if}
            #{else}
            <!--No readings start-->
            <div class="columns is-centered is-mobile mt-3">
                <div class="column reading is-9-desktop is-9-mobile has-text-centered-mobile flip-colour has-text-centered">
                    <span class="icon-text">
                        <span class="icon"><i class="fa-solid fa-diamond-exclamation"></i></span>
                        <span>No Readings</span>
                     </span>
                </div>
            </div>
            <!--No readings end-->
            #{/else}
        </div>
    </div>
    <!--Station Windspeed end-->
    <!--Station Pressure start-->
    <div class="column is-flex">
        <div class="card dark-green has-text-right pb-3">
            <div class="card-header-title is-size-5-desktop is-size-6-touch">
                Pressure
            </div>
            #{if _station.readings.size() > 0}
            <!--Readings Pressure start-->
            <div class="columns is-mobile">
                <div class="column reading is-size-6-desktop is-half-mobile">
                    ${_station.currentPressure()} hpa
                </div>
                <div class="column is-half-mobile">
                    <img src="/public/images/svg/barometer.svg">
                </div>
            </div>
            <div class="columns is-centered is-mobile">
                #{if _station.readings.size() >= 2}
                <div class="column reading is-9-desktop is-9-mobile has-text-centered-mobile flip-colour">
                    Min: ${_station.getMinPressure()} hpa <i class="fa-regular fa-gauge-simple-min"></i><br/>
                    Max: ${_station.getMaxPressure()} hpa <i class="fa-regular fa-gauge-max"></i><br/>
                    #{if _station.readings.size() >= 3}
                    ${_station.pressureTrendText()} <i class="fa-solid ${_station.pressureTrend()}"></i>
                    #{/if}
                </div>
                #{/if}
            </div>
            <!--Readings Pressure end-->
            #{/if}
            #{else}
            <!--No readings start-->
            <div class="columns is-centered is-mobile mt-3">
                <div class="column reading is-9-desktop is-9-mobile has-text-centered-mobile flip-colour has-text-centered">
                    <span class="icon-text">
                        <span class="icon"><i class="fa-solid fa-diamond-exclamation"></i></span>
                        <span>No Readings</span>
                     </span>
                </div>
            </div>
            <!--No readings end-->
            #{/else}
        </div>
    </div>
    <!--Station Pressure end-->
</div>
<!--Latest readings end-->