<!--Readings table start-->
<table class="table mt-6">
    <!--Readings headings start-->
    <thead>
    <tr>
        <th>Date & Time</th>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th>Delete</th>
    </tr>
    </thead>
    <!--Readings headings end-->
    <!--Readings start-->
    <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
        <td>
            ${reading.date}
        </td>
        <td>
            ${reading.getCode()}
        </td>
        <td>
            ${reading.getTemperature()}
        </td>
        <td>
            ${reading.getWindSpeed()}
        </td>
        <td>
            ${reading.getWindDirection()}
        </td>
        <td>
            ${reading.getPressure()}
        </td>
        <td>
            <a href="/stations/${_station.id}/deletereading/${reading.id}" class="button is-danger">Delete Reading</a>
        </td>
    </tr>
    #{/list}
    </tbody>
    <!--Readings end-->
</table>
<!--Readings table end-->
