<!DOCTYPE html>
<html>
    <head>
        <title>Not found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="/public/stylesheets/main.css">
    </head>
    <body>
<!--        #{if play.mode.name() == 'test'}-->
<!--            #{404 result /}-->
<!--        #{/if}-->
<!--        #{else}-->
<!--            <p>-->
<!--                ${result.message}-->
<!--            </p>-->
<!--        #{/else}-->
        <section class="page_404">
            <div class="container has-text-centered">
                <div class="columns is-mobile">
                    <div class="column is-half is-offset-one-quarter">
                            <div class="four_zero_four_bg">
                                <h1 class="title is-1">404</h1>
                            </div>
                            <div class="contant_box_404">
                                <h3 class="title is-3">
                                    Something went wrong...
                                </h3>
                                <h4 class="title is-4">We sent Darren from IT to fix it</h4>
                                <h4 class="title is-4">You might be waiting a while....<br/>So maybe hit the home button below</h4><br/>
                                <a href="/" class="button is-primary">Go to Home</a>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
