#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{if flash.error}
<!--Flash message start-->
<div class="notification is-danger">
    ${flash.error}
</div>
<!--Flash message end-->
#{/if}
#{if stations.size() > 0}
#{list items:stations, as:'station'}

<!--Dashboard content start-->
<div class="content box">
    <h1 class="title">
        ${station.name}
    </h1>
    <!--Station latest readings start-->
    #{latestreadings station:station /}
    <!--Station latest readings end-->
    <p>
        <a href="/stations/${station.id}" class="icon has-text-primary"><i class="fas fa-folder"></i></a>
        <span data-location="${station.id}" class="icon has-text-danger" onclick="confirmdelete(this)"><i
                class="fas fa-trash"></i></span>
    </p>
    <div id="confirmDelete${station.id}" style="display: none;">
        <div class="columns is-mobile">
            <div class="column is-half">
                <span data-location="${station.id}" onclick="confirmdelete(this)"
                      class="button is-fullwidth">Cancel</span>
            </div>
            <div class="column is-half">
                <a href="/dashboard/deletestation/${station.id}" class="button is-danger is-fullwidth">Confirm
                    Delete</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/public/javascripts/custom.js"></script>
</div>
<!--Dashboar content end-->
#{/list}
#{/if}

#{addstation /}