#{extends 'main.html' /}
#{set title:'profile' /}

#{menu id:"profile"/}

<!--Profile content start-->
<section class="content box">
    <div class="columns">
        <!--Profile form start-->
        <div class="column is-half">
            <form action="/update/${member.id}" method="POST">
                <h3 class="subtitle">Profile</h3>
                <!--User info messaging start-->
                #{if message}
                <div class="notification is-success">${message}</div>
                #{/if}
                <!--User info messaging end-->
                <div class="field">
                    <label class="label">Email (Can not be updated)</label>
                    <input class="input" placeholder="${member.email}" name="email" value="${member.getEmail()}"
                           disabled>
                </div>
                <div class="field">
                    <label class="label">First Name</label>
                    <input class="input" placeholder="${member.firstName}" name="firstname" value="${member.firstName}"
                           required>
                </div>
                <div class="field">
                    <label class="label">Last Name</label>
                    <input class="input" placeholder="${member.lastName}" name="lastname"
                           value="${member.getLastName()}" required>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <input id="password" class="input" type="password" name="password" value="${member.getPassword()}"
                           onkeyup='check();' required>
                </div>
                <div class="field">
                    <label class="label">Confirm Password</label>
                    <input id="confrimpassword" class="input" type="password" name="confrimpassword"
                           value="${member.getPassword()}" onkeyup='check();' required>
                    <span id="warning"></span>
                </div>
                <div class="columns is-left is-mobile">
                    <div class="column">
                        <button id="btSubmit" class="button is-link is-info">Update Profile</button>
                    </div>
                    <div class="column has-text-right">
                        <a href="/deleteaccount/${member.id}" class="button is-danger">Delete Profile & Account</a>
                    </div>
                </div>
            </form>
            <script type="text/javascript" src="/public/javascripts/custom.js"></script>
        </div>
        <!--Profile form end-->
        <!--Animated Graphic start-->
        #{animatedgraphic /}
        <!--Animated Graphic end-->
    </div>
</section>
<!--Profile content end-->